<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link href="https://fonts.googleapis.com/css?family=Mukta+Mahee" rel="stylesheet">
    <script src="https://use.fontawesome.com/8ad1bde9c9.js"></script>
</head>

<body>
<nav>

</nav>
<div class="page-wrapper">
    <nav>
        <a href="/">Home</a> | <a href="/for-speakers">For Attendees</a> | <a href="for-speakers">For Speakers</a> | <a href="/faq">FAQ</a>
    </nav>
