/**
It's a reset
 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

html,
body {
  font-family: 'Mukta Mahee', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #3f3f3f;
  line-height: 1.5em;
  background: rgb(96,108,136);
  background: -moz-linear-gradient(top, rgba(96,108,136,1) 0%, rgba(63,76,107,1) 100%);
  background: -webkit-linear-gradient(top, rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%);
  background: linear-gradient(to bottom, rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=0 );
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin: 0 0 32px 0;
  padding: 0;
}

h1 {
  font-size: 1.6em;

  &:first-child {
    margin-top: 32px;
  }
}

section {
  margin-bottom: 32px;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

footer,
nav {
  a {
    text-decoration: none;
    color: rgba(6,109,171,1);
  }

}

footer {
  text-align: center;
}

.page-wrapper {
  margin: 0 auto;
  width: 400px;
  padding: 32px;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
}

.speaker {
  padding: 16px 0;
  margin-bottom: 16px;

  &:first-child {
    padding-top: 0;
  }
}

table.info {

  width: 100%;

  td:first-child {
    width: 30%;
    font-weight: bold;
  }

}